@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Libre+Baskerville');

/* h1 {
  grid-row: 1;
  grid-column: 1/3;
  padding: 0;
  margin: 0;
} */

.main {
  grid-row: 2;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: repeat(4, 7vmin);
  grid-template-columns: repeat(4, 7vmin);
  grid-gap: 2px;
}

/* p {
  grid-column: 1/3;
} */

@media screen and (min-width: 900px) {
  /* h1 {
    grid-row: 1;
    grid-column: 1/3;
    padding: 0;
    margin: 0;
  } */

  .main {
    grid-row: 2/4;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(4, 5vw);
    grid-template-columns: repeat(4, 5vw);
    grid-gap: 2px;
  }
}

ins,
del {
  border-radius: 2px;
}

del {
  background-color: #ffdbb3;
}

ins {
  font-family: 'Annie Use Your Telescope', cursive;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: white;
  border: 1px solid #444;
  text-decoration: none;
  font-size: calc(24px + 0.5vmin);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ins[data-clue] {
  cursor: pointer;
}

ins[data-clue]:before {
  font-family: 'Libre Baskerville';
  position: absolute;
  top: 1px;
  left: 2px;
  font-size: 10px;
  content: attr(data-clue);
}

ul {
  align-self: flex-start;
  justify-self: flex-start;
  list-style: none;
  padding: 0 30px;
}

li[data-clue] {
  padding: 3px 10px;
  cursor: pointer;
}

li.heading {
  font-weight: bold;
  padding: 15px 0;
}

ins.highlight,
li.current {
  background-color: #b4adde;
}

ins.editting {
  background-color: #b4adde;
}

ins.cursor {
  box-shadow: inset 0 0 0 4px #717171;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes pulse {
  from {
    box-shadow: inset 0 0 0 4px #717171;
  }
  to {
    box-shadow: inset 0 0 0 6px #717171;
  }
}
